################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ide-wal
*.ide-shm
*.lock
*.ide
*.suo
/remove_string_from_files/bin/Debug
/remove_string_from_files/obj/x86/Debug
